<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Used Cars - @ViewBag.Title </title>
    <link href="~/Content/cars.css" rel="stylesheet" type="text/css" />
    <link rel="sylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>
    <meta name="viewport" content="width=device-width" />
</head>

<body>
    <div id="wrapper">
        <header>
            <h1>Used Cars</h1>
        </header>
        <nav>
            <ul>
                <li><a href="~/Home/Index">Home</a></li>
                <li><a href="~/Home/BuyCar">Buy Car</a></li>
                <li><a href="~/Home/SellCar">Sell Car</a></li>
                <li><a href="~/Home/Contact">Contact</a></li>
                <li><a href="~/Home/About">About</a></li>
            </ul>
        </nav>
        <main>
            <h2>@ViewBag.Title</h2>
            @RenderBody()
        </main>
        <footer>
            Copyright &copy; 2016, Gisela Font<br>
            <b>Email: </b><a href="mailto:genis_font@hotmail.com">genis_font@hotmail.com</a><br>
            <b>Phone: </b>(+34)670225971 <br />
            <b>Address: </b> La Llagosta, Barcelona, Spain <br />

        </footer>
    </div>
    @RenderSection("Scripts", false)
</body>
</html>